<div class="footer py-7">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="fb me-5">
        <a href="#"><img src="../assets/images/fb.png" alt="fb"></a>
      </div>
      <div class="ig me-5">
        <a href="#"><img src="../assets/images/instagram.png" alt="ig"></a>
      </div>
      <div class="line">
        <a href="#"><img src="../assets/images/line.png" alt="line"></a>
      </div>
    </div>
  </div>
</div>