<div class="header" data-aos="fade-down">
  <div class="container">
    <h1 class="header-title">VITO</h1>
    <img src="../assets/images/vito.png" alt="vito">
    <h2 class="header-title text-end">RESUME</h2>
  </div>
</div>