<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
        <p class="banner-text">
          I'm Vito, a UI Designer with 5+ years of experience. I create visually appealing interfaces for web and mobile
          apps.
          Proficient in Sketch, Adobe XD, Figma, HTML, CSS, and JavaScript. I enjoy collaborating with others to create
          high-quality products.
        </p>
      </div>
    </div>

    <div class="experience">
      <div class="container">
        <div class="experience-content">
          <div class="vitoEvans mb-40">
            <h3 class="experience-title mb-16">Vito Evans</h3>
            <p class="experience-text mb-8">456 Walnut Avenue, Someville, USA</p>
            <p class="experience-text mb-8">+1 123 456 7890</p>
            <p class="experience-text mb-8">info@hexschool.com</p>
            <p class="experience-text">www.infohexschool.com</p>
          </div>
          <div class="education mb-40">
            <h3 class="experience-title mb-16">Education</h3>
            <span class="year-text">2014-2018</span>
            <p class="experience-text mb-16">Bachelor of Science in Business Administration, University of California, Los
              Angeles</p>
            <span class="year-text">2012-2014</span>
            <p class="experience-text mb-16">Associate of Arts in Graphic Design, San Francisco State University</p>
            <span class="year-text">2008-2012</span>
            <p class="experience-text">High School Diploma, Lincoln High School</p>
          </div>
          <div class="work mb-40">
            <h3 class="experience-title mb-16">Work</h3>
            <span class="year-text">2018-2021</span>
            <p class="experience-text mb-16">Marketing Manager, ABC Company</p>
            <span class="year-text">2016-2018</span>
            <p class="experience-text mb-16">Sales Associate, XYZ Corporation</p>
            <span class="year-text">2014-2016</span>
            <p class="experience-text">Customer Service Representative, QRS Inc.</p>
          </div>
          <div class="awards mb-40">
            <h3 class="experience-title mb-16">Awards</h3>
            <p class="experience-text mb-12">Best in Show Award, National Advertising Awards, 2020</p>
            <p class="experience-text mb-12">Honorable Mention, International Design Competition, 2019</p>
            <p class="experience-text">People's Choice Award, Local Art Exhibition, 2018</p>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
